body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

.chat-container {
  max-width: 300px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1E1314;
  color: white;
  font-family: 'Lato', sans-serif;
  letter-spacing: px;
  font-size: 14px;
}

.message-box-casey .message-content{
  background-color: #631C16;
  padding: 10px;
  margin-left: 40px;
}

.message-box-casey {
  align-self: flex-end;
  text-align: right;
}

.message-box-unknown .message-content{
  background-color: #4A4747;
  padding: 10px;
  margin-right: 40px;
}

.message-box .message-content {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 0;
}

.message-box {
  margin-bottom: 10px;
  
  margin: 0 25px 25px;
}

.message-hour {
  font-size: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

p {
  margin-bottom: 2px;
}

.message-box-call {
  background-color: #2D2828;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
 }

 h1 {
  font-size: 16px;
  background-color:  #2D2828;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  padding-right: 20px;
  margin-top: 0;
  width: 90%;
  text-align: center;
 }


